<table>
    <thead>
        <tr>
            <th>#</th>
            <th>Pengaju</th>
            <th>Nama Barang</th>
            <th>Tanggal Pengajuan</th>
            <th>Stok</th>
            <th>Status</th>
        </tr>
    </thead>
    <tbody>
                <tr>
            <td>1</th>
            <td>Sakura Ophelia Pertiwi</td>
            <td>Roti Odading</td>
            <td>2021-04-27</td>
            <td>120</td>
            <td>Terpenuhi</td>
        </tr>
                <tr>
            <td>2</th>
            <td>Agus</td>
            <td>Susu Fermentasi GSS</td>
            <td>2021-04-27</td>
            <td>70</td>
            <td>Belum Terpenuhi</td>
        </tr>
            </tbody>
</table>
